@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
 /* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #33475b;
}

/* REGOLE RICORRENTI DI PAGINA */

/* CLEARFIX */

.row::after {
  content: '';
  display: table;
  clear: both;
}

.cta {
  background-color: #ff7a59;
  border: 1px solid white;
}

.button {
  padding: 8px;
  color: white;
  border-radius: 6px;
}

button {
  padding: 8px;
  color: white;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

.box {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

/* REGOLE HEADER */

header {
height: 891px;
}

header .menu{
  height: 150px;
}

.nav-cell:last-child{
  float: right;
}

nav {
  height: 48%;
  width: auto;
}

header .hor-rul {
  height: 4%;
}

header nav:first-child{
  background-color: #f2f2f2;
}

header nav .nav-cell {
  float: left;
  max-width: 40%;
  margin: 20px 5%;
}

header nav div a {
  color: grey;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

header nav button {
  margin: 0 10px;
}

header nav:first-child div a:first-child{
  border-right: 1px solid grey;
}

button.login {
  color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}
 .side-list li {
  float: left;
}
ul li {
  list-style-type: none;
}

/*  regole jumbotron */

header .jumbotron {
  padding: 20px;
  background-image: url(../img/jumbotron.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(90% - 150px);

}

header .separèe {
  /* DEBUG:  */
  height: 10%;
  width: auto;
  background-color: #00b38f;
}

header .jumbotron div {
  margin: 5% 0 5% 5%;
  max-width: 50%;
  min-width: 30%;
  padding: 30px 5%;
  color: #33475b;
}

header .jumbotron div h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

header .jumbotron div p {
  padding:  20px 0;
}

header .jumbotron div button {
  margin: 5px;
  padding: 22px 30px;
  border-radius: 5px;
}

/* REGOLE MAIN */

main {
  background-color: #f5f8fa;
}

main .eyecatch {
  padding: 1%;
  width: 40%;
  margin: auto;
  color: inherit;
  text-align: center;
}

main .eyecatch img {
  width: 50%;
  height: auto;
  margin: 0 25%;
}


/* REGOLE SECTION */
  /* prima row */


section {
  margin-top: 20px;
}

section .row {
  padding: 30px 0;
  width: 90%;
  margin: auto;
}

section .row .cell-first-row-left {
  margin: 1% 1% 1% 20%;
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}

section .row .cell-first-row-left img {
  width: 50%;
  padding: 5%;
}

section .row .cell-first-row-right div , section .row .cell-first-row-right h4{
  display: inline-block;
  padding-right: 5%;
}

section .row .cell-first-row-right div {
  width: 30%;
}

section .row .cell-first-row-right ul li {
  margin: 20px 5% 0 0;
}

section .row .cell-first-row-right p , section .row .cell-first-row-right h3 , section .row .cell-first-row-right h4 {
  margin: 10px 0;
}

section .row .cell-first-row-right {
  margin: 1% 1% 1% 1%;
  float: left;
  height: 100%;
  max-width: 70%;
}

  /* seconda row */

section .row .cell-second-row {
  float: left;
  padding: 2%;
  margin: 1% 6%;;
  height: 100%;
  width: calc(60% / 3);
  text-align: center;
}

section .row .cell-second-row div , section .row .cell-second-row h3 , section .row .cell-second-row p , section .row .cell-second-row h4 {
  padding: 5% 0;
}

section .row .cell-second-row div {
  width: 20%;
  margin: auto;
}

section .row .cell-second-row img {
  width: 25%;
}

/* REGOLE SECONDA SECTION */

.info-grid {
  text-align: center;
  background-color: #00adb5;
  color: white;
}

.info-grid .row:first-child h2{
  font-size: 50px;
  padding: 10px;
}

.info-grid .row:first-child .subtitle {
  font-size: 20px;
  padding: 50px;
}

.info-grid .row {
  padding: 30px;;
  width: 80%;
  margin: auto;
  height: 100%;
}

#container-info-grid {
  width: 90%;
  margin: auto;
}

.info-grid .row .cell-third-row {
  padding: 2%;
  float: left;
  width: 25%;
  height: 200px;
}

.info-grid .r {
  border-right:  1px solid white;
}

.info-grid .b {
  border-bottom: 1px solid white;
}

.info-grid .t {
  border-top: 1px solid white;
}

/* REGOLE TERZA ED ULTIMA SECTION */

.row .cell-fourth-row-left {
  float: left;
  margin: 1% 2% 2% 15%;
  padding: 10px;
  /* DEBUG:  */
  width: 10%;
}

.row .cell-fourth-row-left h2 , .row .cell-fifth-row div h2  {
  font-size: 50px;
}

.row .cell-fourth-row-right {
  float: left;
  margin: 1% 2% 2% 15%;
  padding: 10px;
  /* DEBUG:  */
  width: 50%;
}

.row .cell-fourth-row-right img {
  height: auto;
  width: 22%;
  margin: 10px;
  vertical-align: middle;
}

.row .cell-fifth-row {
  float: left;
  margin: 0 10% 0 5%;
  padding: 1%;
  /* DEBUG:  */
  width: 35%;
  height: 100%;
}

.row .cell-fifth-row div p {
  margin: 5% 0 10% 0
}

.row .cell-fifth-row div a {
  margin: 1%;
  line-height: 50px;
}

.row .cell-fifth-row div p:last-of-type{
  font-size: 12px;
}

.row .cell-fifth-row img {
  width: 50%;
  float: right;
}



/* REGOLE FOOTER */

footer {
  margin-top:30px;
  padding: 2%;
  /* DEBUG:  */
  height: 350px;
  background-color: #ccc;
}

footer .row {
  height: 60%;
}

footer .row .contacts-cell {
  float: left;
  padding: 20px;
  /* DEBUG:  */
  height: calc(350px - 45%) ;
  width: 25%;
  background-color: #666699;
}
