@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 /* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #33475b;
}

/* REGOLE RICORRENTI DI PAGINA */

/* CLEARFIX */

.row::after {
  content: '';
  display: table;
  clear: both;
}
  /* regole button */
.cta {
  background-color: #ff7a59;
  border: 1px solid white;
}

.button {
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
}

.grey {
  background-color: #f2f2f2;
  color: #00adb5;
  border: 1px solid grey;
  font-size: 10px;
}

.login {
  color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.box {
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

section ul li i {
  color: #fc8c03;
}

/* REGOLE HEADER */

header {
  position: relative;
  height: 891px;
}

header .menu{
  position: fixed;
  width: 100%
}

.nav-cell:last-child{
  float: right;
}

nav {
  height: 48%;
  width: auto;
  background-color: white;
}

header .hor-rul {
  height: 4%;
}

header nav:first-child{
  background-color: #f2f2f2;
}

header nav .nav-cell {
  float: left;
  max-width: 40%;
  margin: 20px 5%;
}

header nav div a {
  color: grey;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

header nav button {
  margin: 0 10px;
}

header nav div .left-border a:first-child{
  border-right: 1px solid grey;
}

header nav div .fas.fa-search {
  color: #23b0c6;
}

.side-list li {
  float: left;
}

ul li {
  list-style-type: none;
}

.blank {
  height:150px;
  width: 100%;
}

/*  regole jumbotron */

header .jumbotron {
  padding: 20px;
  background-image: url(../img/jumbotron.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(90% - 150px);

}

header .separèe {
  height: 100px;
  width: auto;
  background: rgb(123,200,176);
  background: linear-gradient(90deg, rgba(123,200,176,1) 31%, rgba(73,170,150,1) 89%, rgba(48,155,137,1) 100%);

}

header .jumbotron div {
  margin: 0 0 5% 5%;
  max-width: 50%;
  min-width: 30%;
  padding: 30px 5%;
  color: #33475b;
  font-size: 20px;
}

header .jumbotron div h1 {
  font-size: 50px;
  padding: 30px 30px 30px 0;
}

header .jumbotron div p {
  padding: 20px 0 ;
  margin: 20px 0
}

header .jumbotron div a {
  margin: 15px 0;
  padding: 18px 30px;
}


/* REGOLE MAIN */

main {
  background-color: #f5f8fa;
}

main .eyecatch {
  padding: 1%;
  width: 40%;
  margin: auto;
  color: inherit;
  text-align: center;
}

main .eyecatch img {
  width: 50%;
  height: auto;
  margin: 5% 25%;
}


/* REGOLE SECTION */
  /* prima row */


section {
  margin-top: 20px;
}

section .row {
  padding: 30px 0;
  width: 70%;
  margin: auto;
}

section .row .cell-first-row-left {
  margin: 5% 5%;
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}

section .row .cell-first-row-left img {
  width: 80%;
  padding: 5%;
}

section .row .cell-first-row-left a {
  margin: 5%;
}

section .row .cell-first-row-right div , section .row .cell-first-row-right h4{
  display: inline-block;
  padding-right: 5%;
}

section .row .cell-first-row-right div {
  width: 30%;
}

section .row .cell-first-row-right ul li {
  margin: 20px 5% 0 0;
  padding: 5% 0;
}

section .row .cell-first-row-right p , section .row .cell-first-row-right h3 , section .row .cell-first-row-right h4 {
  margin: 10px 0;
}

section .row .cell-first-row-right {
  margin: 1% 1% 1% 1%;
  float: left;
  height: 100%;
  max-width: 60%;
}

  /* seconda row */

section .row .cell-second-row {
  float: left;
  padding: 2%;
  margin: 1%;
  height: 100%;
  width: calc(80% / 3);
  text-align: center;
}

section .row .cell-second-row div , section .row .cell-second-row h3 , section .row .cell-second-row p , section .row .cell-second-row h4 {
  padding: 10%;
}

section .row .cell-second-row div {
  width: 90%;
  margin: auto;
}

section .row .cell-second-row img {
  width: 25%;
}

section .row .cell-second-row ul li {
  text-align: left;
}

section .row .cell-second-row:first-of-type {
  margin-right: 7%;
}

section .row .cell-second-row:last-of-type {
  margin-left: 7%;
}

section .row .cell-second-row a {
  display: inline-block;
  margin: 30px
}
/* REGOLE SECONDA SECTION */

.info-grid {
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,103,12,1) 0%, rgba(49,121,34,1) 0%, rgba(8,146,19,1) 0%, rgba(25,149,85,1) 0%, rgba(21,159,111,1) 75%, rgba(48,155,137,1) 100%, rgba(123,200,176,1) 100%);
  color: white;
}

.info-grid .titles {
  width: 80%;
  margin: auto;
}

.info-grid .titles h2{
  font-size: 40px;
  padding: 10px;
}

.info-grid .titles .subtitle {
  font-size: 20px;
  padding: 50px;
}

.info-grid .row {
  padding: 30px;;
  width: 90%;
  margin: auto;
  height: 100%;
}



.info-grid .row .cell-third-row {
  float: left;
  width: 25%;
  padding: 2%
}

.info-grid .r {
  border-right:  1px solid white;
}

.info-grid .b {
  border-bottom: 1px solid white;
}

.info-grid .t {
  border-top: 1px solid white;
}

/* REGOLE TERZA ED ULTIMA SECTION */

.row .cell-fourth-row-left {
  float: left;
  margin: 1% 2% 2% 15%;
  padding: 10px;
  width: 17%;
}

.row .cell-fourth-row-left h2 , .row .cell-fifth-row div h2  {
  font-size: 50px;
}

.row .cell-fourth-row-right {
  float: left;
  margin: 1% 2% 2% 12%;
  padding: 10px;
  width: 50%;
}

.row .cell-fourth-row-right img {
  height: auto;
  width: 20%;
  margin: 10px;
  vertical-align: middle;
}

.row .cell-fifth-row {
  float: left;
  margin: 0 10% 0 5%;
  padding: 1%;
  width: 35%;
  height: 100%;
}

.row .cell-fifth-row div p {
  margin: 5% 0 10% 0
}

.row .cell-fifth-row div a {
  margin: 1%;
  line-height: 50px;
}

.row .cell-fifth-row div p:last-of-type{
  font-size: 12px;
}

.row .cell-fifth-row img {
  width: 50%;
  float: right;
}



/* REGOLE FOOTER */

footer a {
  text-decoration: none;
  color: white;
}

footer {
  position: relative;
  padding: 2%;
  background-color: #33475b;
  color: white;
}
footer .row ul li:first-child{
  font-weight: bold;
}

footer .row ul li , footer .row ul li i{
  color: white;
  padding: 10px;
}

footer .row {
  height: 60%;
  width: 80%;
  margin: auto;
}

footer .row .contacts-cell {
  float: left;
  padding: 20px;
  width: 25%;
}

footer .row .contacts-cell ul:last-of-type li:nth-child(7) {
  margin: 20px 0 ;
}

footer .lang-menu{
  width: 40%;
  margin: auto;
  margin-bottom: 100px;

}

footer .lang-menu ul li {
  float: left;
  padding: 15px;
}


#logo-footer {
  position: absolute;
  bottom: 0;
  left: 10px;
}

#legal-stuff {
  position: absolute;
  bottom: 30px;;
  right: 10px;
}
