@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
 /* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: #33475b;
}

/* REGOLE RICORRENTI DI PAGINA */

/* CLEARFIX */

.row::after {
  content: '';
  display: table;
  clear: both;
}

  /* regole button */
.cta {
  background-color: #ff7a59;
  border: 1px solid white;
}

.button {
  padding: 8px;
  border-radius: 6px;
}

.button.grey {
  background-color: #f2f2f2;
  color: #00adb5;
}

.button.login {
  color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.grey , .box {
  border: 1px solid grey
}

ul li i {
  color: #fc8c03;
}


/* REGOLE HEADER */

header {
  position: relative;
  height: 891px;
}

header .menu{
  position: fixed;
  width: 100%
}

.nav-cell:last-child{
  float: right;
}

nav {
  height: 48%;
  width: auto;
  background-color: white;
}

header .hor-rul {
  height: 4%;
}

header nav:first-child{
  background-color: #f2f2f2;
}

header nav .nav-cell {
  float: left;
  max-width: 40%;
  margin: 20px 5%;
}

header nav div a {
  color: grey;
  font-weight: bold;
  padding: 0 20px 0 20px;
}


header nav .link-border-left{
  border-right: 1px solid grey;
}

 .side-list li {
  float: left;
}
ul li {
  list-style-type: none;
}
.blank {
  height:150px;
  width: 100%;
}
  /* BONUS */
 /* regole dropdown menu */
 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   top: 30px;
   left: 20px;
   max-width: 300px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   background-color: rgba(230, 221, 213 , 0.9);
   z-index: 999;
 }

 .dropdown-content ul li a{
 }
 .dropdown-content ul li a:hover{
   font-weight: bold;
 }
 .dropdown:hover .dropdown-content , .dropdown-content:hover {
   display: block;
 }
/*  regole jumbotron */

header .jumbotron {
  padding: 20px;
  background-image: url(../img/jumbotron.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(90% - 150px);
}
header .jumbotron .button.cta {
  padding: 12px 20px;
}
header .separèe {
  height: 10%;
  width: auto;
  background: rgb(123,200,176);
  background: linear-gradient(90deg, rgba(123,200,176,1) 31%, rgba(73,170,150,1) 89%, rgba(48,155,137,1) 100%);
}

header .jumbotron div {
  margin: 0 0 5% 5%;
  max-width: 50%;
  min-width: 30%;
  padding: 30px 5%;
  color: #33475b;
}

header .jumbotron div h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

header .jumbotron div p {
  padding:  20px 0;
}

header .jumbotron div button {
  margin: 5px;
  padding: 22px 30px;
  border-radius: 5px;
}

/* REGOLE MAIN */

main {
  background-color: #f5f8fa;
}

main .eyecatch {
  padding: 1%;
  width: 40%;
  margin: auto;
  color: inherit;
  text-align: center;
}

main .eyecatch img {
  width: 50%;
  height: auto;
  margin: 0 25%;
}


/* REGOLE SECTION */
  /* prima row */


section {
  margin-top: 20px;
}

section .row {
  padding: 30px 0;
  width: 70%;
  margin: auto;
}

section .row .cell-first-row-left {
  margin: 1% 5%;
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}

section .row .cell-first-row-left img {
  width: 50%;
  padding: 1%;
}

section .row .cell-first-row-right div , section .row .cell-first-row-right h4{
  display: inline-block;
  padding-right: 5%;
}

section .row .cell-first-row-right div {
  width: 30%;
}

section .row .cell-first-row-right ul li {
  margin: 20px 5% 0 0;
  padding: 5% 0;
}

section .row .cell-first-row-right p , section .row .cell-first-row-right h3 , section .row .cell-first-row-right h4 {
  margin: 10px 0;
}

section .row .cell-first-row-right {
  margin: 1% 1% 1% 1%;
  float: left;
  height: 100%;
  max-width: 60%;
}

  /* seconda row */

section .row .cell-second-row {
  float: left;
  padding: 2%;
  margin: 1%;
  height: 100%;
  width: calc(80% / 3);
  text-align: center;
}

section .row .cell-second-row div , section .row .cell-second-row h3 , section .row .cell-second-row p , section .row .cell-second-row h4 {
  padding: 5% 0;
}

section .row .cell-second-row div {
  width: 20%;
  margin: auto;
}

section .row .cell-second-row img {
  width: 25%;
}

section .row .cell-second-row ul li {
  text-align: left;
}

section .row .cell-second-row:first-of-type {
  margin-right: 7%;
}

section .row .cell-second-row:last-of-type {
  margin-left: 7%;
}
/* REGOLE SECONDA SECTION */

.info-grid {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,103,12,1) 0%, rgba(49,121,34,1) 0%, rgba(8,146,19,1) 0%, rgba(25,149,85,1) 0%, rgba(21,159,111,1) 75%, rgba(48,155,137,1) 100%, rgba(123,200,176,1) 100%);
}

.info-grid .row:first-child h2{
  font-size: 50px;
  padding: 10px;
}

.info-grid .row:first-child .subtitle {
  font-size: 20px;
  padding: 50px;
}

.info-grid .row {
  padding: 30px;;
  width: 80%;
  margin: auto;
  height: 100%;
}

#container-info-grid {
  width: 90%;
  margin: auto;
}

.info-grid .row .cell-third-row {
  padding: 2%;
  float: left;
  width: 25%;
  height: 200px;
}

.info-grid .r {
  border-right:  1px solid white;
}

.info-grid .b {
  border-bottom: 1px solid white;
}

.info-grid .t {
  border-top: 1px solid white;
}

/* REGOLE TERZA ED ULTIMA SECTION */

.row .cell-fourth-row-left {
  float: left;
  margin: 1% 2% 2% 15%;
  padding: 10px;
  width: 10%;
}

.row .cell-fourth-row-left h2 , .row .cell-fifth-row div h2  {
  font-size: 50px;
}

.row .cell-fourth-row-right {
  float: left;
  margin: 1% 2% 2% 15%;
  padding: 10px;
  width: 50%;
}

.row .cell-fourth-row-right img {
  height: auto;
  width: 20%;
  margin: 10px;
  vertical-align: middle;
}

.row .cell-fifth-row {
  float: left;
  margin: 0 10% 0 5%;
  padding: 1%;
  width: 35%;
  height: 100%;
}

.row .cell-fifth-row div p {
  margin: 5% 0 10% 0
}

.row .cell-fifth-row div a {
  margin: 1%;
  line-height: 50px;
}

.row .cell-fifth-row div p:last-of-type{
  font-size: 12px;
}

.row .cell-fifth-row img {
  width: 50%;
  float: right;
}

/* BONUS */
/* regole fixed support chat icon */
.help {
  position: fixed;
  bottom: 50px;
  right: 80px;
  z-index: 100;
}

.help img {
  height: 100px;
  width: auto;
}

.help:hover .dropdown-chat {
  display: block;
}

.dropdown-chat{
  display: none;
  position: absolute;
  top: -180px;
  left: -50px;
  width: 150px;
  height: 200px;
  background-color: rgba(230, 221, 213 , 0.5);
}

.dropdown-chat p{
  font-size: 20px;
  color: grey;
  text-shadow: 1px 1px lightgrey;
  padding: 20px;
}
/* REGOLE FOOTER */

footer a {
  text-decoration: none;
}
footer {
  position: relative;
  margin-top:30px;
  padding: 2%;
  background-color: #33475b;
}
footer .row ul li:first-child{
  font-weight: bold;
}

footer .row {
  height: 60%;
  width: 80%;
  margin: auto;
}

footer .row .contacts-cell {
  float: left;
  padding: 20px;
  width: 25%;
}

footer .row .contacts-cell ul:last-of-type li:nth-child(7) {
  margin: 20px 0 ;
}

footer .lang-menu{
  width: 40%;
  margin: auto;
  margin-bottom: 100px;

}

footer .lang-menu ul li{
  float: left;
  padding: 20px;
}

#logo-footer {
  position: absolute;
  bottom: 0;
  left: 10px;
}

#legal-stuff {
  position: absolute;
  bottom: 30px;;
  right: 10px;
}

footer .row ul li , footer .row ul li i , footer , footer a , .info-grid , .button {
  color: white;
}
